<!DOCTYPE html>
<html>
<head>
  <title>Login Failed</title>
</head>
<body>
  <h1>Login Failed</h1>
  <p>You entered incorrect credentials:</p>
  <p>Username: <%= submittedUsername %></p>
  <p>Password: <%= submittedPassword %></p>
  <a href="/">Try Again</a>
</body>
</html>
